/*
/////////////////
// Inline Code //
/////////////////
*/

.md-typeset code {
  background-color: #F8F8FF;
  color: black;
  margin: 0;
  padding: 0.07353em 0.29412em;
  box-shadow: none;
  font-size: 130%;
}

/*
/////////////////
// Code Blocks //
/////////////////
*/

/*
line number
*/
.linenos {
  color: #F5F5F5 !important;
  background-color: #313131 !important;
}

/*
code block background
*/
.codehilite {
  background-color: #424242 !important;
}

/*
scroll bar size
*/

.md-typeset .codehilite::-webkit-scrollbar {
  height: 1rem !important;
}

/*
actual syntax highlighting
*/
.codehilite pre { color: #FAFAFA !important; background-color: transparent !important; }
.codehilite .hll { background-color: #272822 !important; }
.codehilite .c { color: #75715e !important } /* Comment */
.codehilite .err { color: #960050 !important; background-color: #1e0010 !important } /* Error */
.codehilite .k { color: #66d9ef !important } /* Keyword */
.codehilite .l { color: #ae81ff !important } /* Literal */
.codehilite .n { color: #f8f8f2 !important } /* Name */
.codehilite .o { color: #f92672 !important } /* Operator */
.codehilite .p { color: #f8f8f2 !important } /* Punctuation */
.codehilite .cm { color: #75715e !important } /* Comment.Multiline */
.codehilite .cp { color: #75715e !important } /* Comment.Preproc */
.codehilite .c1 { color: #75715e !important } /* Comment.Single */
.codehilite .cs { color: #75715e !important } /* Comment.Special */
.codehilite .ge { font-style: italic !important } /* Generic.Emph */
.codehilite .gs { font-weight: bold !important } /* Generic.Strong */
.codehilite .kc { color: #66d9ef !important } /* Keyword.Constant */
.codehilite .kd { color: #66d9ef !important } /* Keyword.Declaration */
.codehilite .kn { color: #f92672 !important } /* Keyword.Namespace */
.codehilite .kp { color: #66d9ef !important } /* Keyword.Pseudo */
.codehilite .kr { color: #66d9ef !important } /* Keyword.Reserved */
.codehilite .kt { color: #66d9ef !important } /* Keyword.Type */
.codehilite .ld { color: #e6db74 !important } /* Literal.Date */
.codehilite .m { color: #ae81ff !important } /* Literal.Number */
.codehilite .s { color: #e6db74 !important } /* Literal.String */
.codehilite .na { color: #a6e22e !important } /* Name.Attribute */
.codehilite .nb { color: #f8f8f2 !important } /* Name.Builtin */
.codehilite .nc { color: #a6e22e !important } /* Name.Class */
.codehilite .no { color: #66d9ef !important } /* Name.Constant */
.codehilite .nd { color: #a6e22e !important } /* Name.Decorator */
.codehilite .ni { color: #f8f8f2 !important } /* Name.Entity */
.codehilite .ne { color: #a6e22e !important } /* Name.Exception */
.codehilite .nf { color: #a6e22e !important } /* Name.Function */
.codehilite .nl { color: #f8f8f2 !important } /* Name.Label */
.codehilite .nn { color: #f8f8f2 !important } /* Name.Namespace */
.codehilite .nx { color: #a6e22e !important } /* Name.Other */
.codehilite .py { color: #f8f8f2 !important } /* Name.Property */
.codehilite .nt { color: #f92672 !important } /* Name.Tag */
.codehilite .nv { color: #f8f8f2 !important } /* Name.Variable */
.codehilite .ow { color: #f92672 !important } /* Operator.Word */
.codehilite .w { color: #f8f8f2 !important } /* Text.Whitespace */
.codehilite .mf { color: #ae81ff !important } /* Literal.Number.Float */
.codehilite .mh { color: #ae81ff !important } /* Literal.Number.Hex */
.codehilite .mi { color: #ae81ff !important } /* Literal.Number.Integer */
.codehilite .mo { color: #ae81ff !important } /* Literal.Number.Oct */
.codehilite .sb { color: #e6db74 !important } /* Literal.String.Backtick */
.codehilite .sc { color: #e6db74 !important } /* Literal.String.Char */
.codehilite .sd { color: #e6db74 !important } /* Literal.String.Doc */
.codehilite .s2 { color: #e6db74 !important } /* Literal.String.Double */
.codehilite .se { color: #ae81ff !important } /* Literal.String.Escape */
.codehilite .sh { color: #e6db74 !important } /* Literal.String.Heredoc */
.codehilite .si { color: #e6db74 !important } /* Literal.String.Interpol */
.codehilite .sx { color: #e6db74 !important } /* Literal.String.Other */
.codehilite .sr { color: #e6db74 !important } /* Literal.String.Regex */
.codehilite .s1 { color: #e6db74 !important } /* Literal.String.Single */
.codehilite .ss { color: #e6db74 !important } /* Literal.String.Symbol */
.codehilite .bp { color: #f8f8f2 !important } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #f8f8f2 !important } /* Name.Variable.Class */
.codehilite .vg { color: #f8f8f2 !important } /* Name.Variable.Global */
.codehilite .vi { color: #f8f8f2 !important } /* Name.Variable.Instance */
.codehilite .il { color: #ae81ff !important } /* Literal.Number.Integer.Long */

.codehilite .gh { } /* Generic Heading & Diff Header */
.codehilite .gu { color: #75715e !important ; } /* Generic.Subheading & Diff Unified/Comment? */
.codehilite .gd { color: #f92672 !important ; } /* Generic.Deleted & Diff Deleted */
.codehilite .gi { color: #a6e22e !important ; } /* Generic.Inserted & Diff Inserted */

.codehilite .md-clipboard:before { color: rgba(255, 255, 255, 0.07) } /* Clipboard button (no hover) */
.codehilite:hover .md-clipboard:before { color: rgba(255, 255, 255, 0.54) } /* Clipboard button (hovered) */
