@charset "UTF-8";
@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #000;
    color: #000;
  }

  html .md-nav--primary .md-nav__title ~ .md-nav__list {
    /* background: linear-gradient(180deg,#000 10%,hsla(0,0%,0%,0)),linear-gradient(180deg,rgba(0,0,0,.26),rgba(0,0,0,.07) 35%,transparent 60%); */
    background-color: #000;
  }

  .md-nav {
    background-color: #333;
  }

  html .md-nav--primary .md-nav__title {
    background-color: #10cfff;
  }
}
.md-header {
  background-color: #000;
}

.md-container {
  background-color: #333;
}

.md-typeset .footnote {
  color: #ccc;
}

body {
  color: #ccc;
}

.md-typeset pre {
  background-color: #000;
}

.md-typeset code {
  color: #ccc;
  box-shadow: 0.29412em 0 0 #272722, -0.29412em 0 0 #272722;
  background-color: #272722;
}

.md-nav__link[data-md-state=blur] {
  color: rgba(230, 230, 230, 0.54);
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: #ccc;
}

.md-typeset a, md-nav__link, md-nav__link:hover {
  color: #10cfff;
}

a footnote-ref::before {
  border-color: #10cfff;
}

a footnote-ref::before {
  color: #10cfff;
}

.md-nav__item--active > .md-nav__link, .md-nav__link:active {
  color: #10cfff;
}

.md-nav--secondary {
  border-left: 0.4rem solid #000;
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #10cfff;
}

.md-typeset hr {
  border-bottom: 0.1rem dotted #666;
}

.md-footer-copyright {
  color: #666;
}

.md-typeset blockquote {
  padding-left: 1.2rem;
  border-left: 0.4rem solid rgba(230, 230, 230, 0.26);
  color: rgba(230, 230, 230, 0.54);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  color: black;
}

.md-typeset kbd {
  box-shadow: 0 1px 2px rgba(12, 13, 14, 0.75);
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-size: 11px;
  line-height: 1.4;
  color: #ccc;
  text-shadow: 0 1px 0 #2d2d2d;
  background-color: #404345;
  border: 1px solid #ccc;
  border-radius: 2px;
  white-space: nowrap;
}

.md-clipboard:before {
  transition: color 0.25s, opacity 0.25s;
  transition-property: color, opacity;
  transition-duration: 0.25s, 0.25s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  color: rgba(240, 240, 240, 0.07);
  content: "";
}

.md-typeset .superfences-tabs {
  background-color: #272722;
}

div.superfences-content pre {
  border-top: 1px solid #333;
}

/*# sourceMappingURL=extra.css.map */
